<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,59},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,59},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,40},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,40},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,21},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,21},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ball_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{16,11}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ball.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b8925bfc1baeaf09438c9417fcccd93:1/1$</string>
            <key>textureFileName</key>
            <string>ball.png</string>
        </dict>
    </dict>
</plist>
